USE [master]
GO
/****** Object:  Database [QuanLyQuanBida]    Script Date: 1/8/2026 4:35:36 AM ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'QuanLyQuanBida')
BEGIN
CREATE DATABASE [QuanLyQuanBida]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyQuanBida', FILENAME = N'C:\SQL2022\QuanLyQuanBida.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyQuanBida_log', FILENAME = N'C:\SQL2022\QuanLyQuanBida_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyQuanBida].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  Login [NT SERVICE\Winmgmt]    Script Date: 1/8/2026 4:35:36 AM ******/
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'NT SERVICE\Winmgmt')
CREATE LOGIN [NT SERVICE\Winmgmt] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\SQLWriter]    Script Date: 1/8/2026 4:35:36 AM ******/
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'NT SERVICE\SQLWriter')
CREATE LOGIN [NT SERVICE\SQLWriter] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\SQLTELEMETRY$SQLEXPRESS]    Script Date: 1/8/2026 4:35:36 AM ******/
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'NT SERVICE\SQLTELEMETRY$SQLEXPRESS')
CREATE LOGIN [NT SERVICE\SQLTELEMETRY$SQLEXPRESS] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT Service\MSSQL$SQLEXPRESS]    Script Date: 1/8/2026 4:35:36 AM ******/
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'NT Service\MSSQL$SQLEXPRESS')
CREATE LOGIN [NT Service\MSSQL$SQLEXPRESS] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT AUTHORITY\SYSTEM]    Script Date: 1/8/2026 4:35:36 AM ******/
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'NT AUTHORITY\SYSTEM')
CREATE LOGIN [NT AUTHORITY\SYSTEM] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [LAPTOP-D7025PB6\ACER]    Script Date: 1/8/2026 4:35:36 AM ******/
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'LAPTOP-D7025PB6\ACER')
CREATE LOGIN [LAPTOP-D7025PB6\ACER] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [BUILTIN\Users]    Script Date: 1/8/2026 4:35:36 AM ******/
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'BUILTIN\Users')
CREATE LOGIN [BUILTIN\Users] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyTsqlExecutionLogin##]    Script Date: 1/8/2026 4:35:36 AM ******/
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'##MS_PolicyTsqlExecutionLogin##')
CREATE LOGIN [##MS_PolicyTsqlExecutionLogin##] WITH PASSWORD=N'Pob+vJCPdwrifn6BEqj8RQVhr+Do4lDBdf6jKYjjLfA=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyTsqlExecutionLogin##] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyEventProcessingLogin##]    Script Date: 1/8/2026 4:35:36 AM ******/
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'##MS_PolicyEventProcessingLogin##')
CREATE LOGIN [##MS_PolicyEventProcessingLogin##] WITH PASSWORD=N'LVuU8cJ2SxzjVMY/FpIGgjIYoRkisUARndiGrKscJTw=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyEventProcessingLogin##] DISABLE
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\Winmgmt]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\SQLWriter]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT Service\MSSQL$SQLEXPRESS]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [LAPTOP-D7025PB6\ACER]
GO
USE [QuanLyQuanBida]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 1/8/2026 4:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Account]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Account](
	[UserName] [nvarchar](100) NOT NULL,
	[DisplayName] [nvarchar](100) NOT NULL,
	[PassWord] [varchar](100) NOT NULL,
	[Type] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ActionLog]    Script Date: 1/8/2026 4:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ActionLog]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ActionLog](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[StaffName] [nvarchar](100) NULL,
	[ActionType] [nvarchar](50) NULL,
	[Details] [nvarchar](max) NULL,
	[ActionTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 1/8/2026 4:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Bill]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Bill](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[DateCheckIn] [datetime] NULL,
	[DateCheckOut] [datetime] NULL,
	[idTable] [int] NOT NULL,
	[status] [int] NOT NULL,
	[discount] [int] NULL,
	[totalPrice] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[BillInfo]    Script Date: 1/8/2026 4:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BillInfo]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BillInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idBill] [int] NOT NULL,
	[idFood] [int] NOT NULL,
	[count] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[CategoryTable]    Script Date: 1/8/2026 4:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CategoryTable]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CategoryTable](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[pricePerHour] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[EventsDiscount]    Script Date: 1/8/2026 4:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EventsDiscount]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EventsDiscount](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[eventName] [nvarchar](100) NULL,
	[discountPercent] [int] NULL,
	[fromDate] [date] NULL,
	[toDate] [date] NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Food]    Script Date: 1/8/2026 4:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Food]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Food](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[idCategory] [int] NOT NULL,
	[price] [float] NOT NULL,
	[isService] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[FoodCategory]    Script Date: 1/8/2026 4:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FoodCategory]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FoodCategory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[TableCategory]    Script Date: 1/8/2026 4:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TableCategory]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TableCategory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[pricePerHour] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[TableFood]    Script Date: 1/8/2026 4:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TableFood]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TableFood](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[status] [nvarchar](100) NOT NULL,
	[idTableCategory] [int] NULL,
	[idCategoryTable] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[TimeChangeLog]    Script Date: 1/8/2026 4:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TimeChangeLog]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TimeChangeLog](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idBill] [int] NOT NULL,
	[oldTime] [datetime] NULL,
	[newTime] [datetime] NULL,
	[changeDate] [datetime] NULL,
	[staffName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
INSERT [dbo].[Account] ([UserName], [DisplayName], [PassWord], [Type]) VALUES (N'admin', N'Quản trị viên', N'd0a6bf538a56293e6fb82570d4c21fd8855d20b3d355ee6b47ee2d5f9c4eb46b', 1)
GO
SET IDENTITY_INSERT [dbo].[ActionLog] ON 

INSERT [dbo].[ActionLog] ([id], [StaffName], [ActionType], [Details], [ActionTime]) VALUES (1, N'Hệ thống', N'HỦY MÓN', N'Đã xóa món ăn ID: 7 khỏi hóa đơn ID: 73 - Số lượng: 1', CAST(N'2026-01-02T23:47:41.200' AS DateTime))
INSERT [dbo].[ActionLog] ([id], [StaffName], [ActionType], [Details], [ActionTime]) VALUES (2, N'Hệ thống', N'HỦY MÓN', N'Đã xóa món ăn ID: 8 khỏi hóa đơn ID: 74 - Số lượng: 1', CAST(N'2026-01-02T23:57:33.173' AS DateTime))
INSERT [dbo].[ActionLog] ([id], [StaffName], [ActionType], [Details], [ActionTime]) VALUES (3, N'Hệ thống', N'HỦY MÓN', N'Đã xóa món ăn ID: 7 khỏi hóa đơn ID: 74 - Số lượng: 1', CAST(N'2026-01-03T00:34:32.503' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[ActionLog] OFF
GO
SET IDENTITY_INSERT [dbo].[EventsDiscount] ON 

INSERT [dbo].[EventsDiscount] ([id], [eventName], [discountPercent], [fromDate], [toDate], [status]) VALUES (1, N'Tết', 35, CAST(N'2026-01-02' AS Date), CAST(N'2026-01-20' AS Date), 0)
INSERT [dbo].[EventsDiscount] ([id], [eventName], [discountPercent], [fromDate], [toDate], [status]) VALUES (2, N'Ngày thường', 0, CAST(N'2026-01-03' AS Date), CAST(N'2027-01-03' AS Date), 1)
INSERT [dbo].[EventsDiscount] ([id], [eventName], [discountPercent], [fromDate], [toDate], [status]) VALUES (3, N'Ngày thứ bảy', 10, CAST(N'2026-01-03' AS Date), CAST(N'2027-01-03' AS Date), 1)
SET IDENTITY_INSERT [dbo].[EventsDiscount] OFF
GO
SET IDENTITY_INSERT [dbo].[Food] ON 

INSERT [dbo].[Food] ([id], [name], [idCategory], [price], [isService]) VALUES (1, N'Cafe đá', 1, 15000, NULL)
INSERT [dbo].[Food] ([id], [name], [idCategory], [price], [isService]) VALUES (5, N'Bò cụng', 1, 15000, NULL)
INSERT [dbo].[Food] ([id], [name], [idCategory], [price], [isService]) VALUES (6, N'Hủ tiếu', 2, 25000, NULL)
SET IDENTITY_INSERT [dbo].[Food] OFF
GO
SET IDENTITY_INSERT [dbo].[FoodCategory] ON 

INSERT [dbo].[FoodCategory] ([id], [name]) VALUES (1, N'Đồ uống')
INSERT [dbo].[FoodCategory] ([id], [name]) VALUES (2, N'Đồ ăn')
INSERT [dbo].[FoodCategory] ([id], [name]) VALUES (4, N'Thuốc lá')
SET IDENTITY_INSERT [dbo].[FoodCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[TableCategory] ON 

INSERT [dbo].[TableCategory] ([id], [name], [pricePerHour]) VALUES (1, N'Bàn Phăng', 40000)
INSERT [dbo].[TableCategory] ([id], [name], [pricePerHour]) VALUES (2, N'Bàn Lỗ', 50000)
INSERT [dbo].[TableCategory] ([id], [name], [pricePerHour]) VALUES (3, N'Bàn VIP', 80000)
SET IDENTITY_INSERT [dbo].[TableCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[TableFood] ON 

INSERT [dbo].[TableFood] ([id], [name], [status], [idTableCategory], [idCategoryTable]) VALUES (1, N'Bàn 1', N'Trống', 1, NULL)
INSERT [dbo].[TableFood] ([id], [name], [status], [idTableCategory], [idCategoryTable]) VALUES (2, N'Bàn 2', N'Trống', 1, NULL)
INSERT [dbo].[TableFood] ([id], [name], [status], [idTableCategory], [idCategoryTable]) VALUES (3, N'Bàn 3', N'Trống', 1, NULL)
SET IDENTITY_INSERT [dbo].[TableFood] OFF
GO
SET IDENTITY_INSERT [dbo].[TimeChangeLog] ON 

INSERT [dbo].[TimeChangeLog] ([id], [idBill], [oldTime], [newTime], [changeDate], [staffName]) VALUES (1, 91, CAST(N'2026-01-06T23:55:00.000' AS DateTime), CAST(N'2026-01-06T23:55:00.000' AS DateTime), CAST(N'2026-01-07T00:40:20.970' AS DateTime), N'Quản trị viên')
INSERT [dbo].[TimeChangeLog] ([id], [idBill], [oldTime], [newTime], [changeDate], [staffName]) VALUES (2, 92, CAST(N'2026-01-07T00:51:58.000' AS DateTime), CAST(N'2026-01-06T22:49:00.000' AS DateTime), CAST(N'2026-01-07T00:52:10.300' AS DateTime), N'Quản trị viên')
INSERT [dbo].[TimeChangeLog] ([id], [idBill], [oldTime], [newTime], [changeDate], [staffName]) VALUES (3, 93, CAST(N'2026-01-07T01:20:51.000' AS DateTime), CAST(N'2026-01-06T10:50:00.000' AS DateTime), CAST(N'2026-01-07T01:21:19.050' AS DateTime), N'Quản trị viên')
SET IDENTITY_INSERT [dbo].[TimeChangeLog] OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Account__Type__4AB81AF0]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Account] ADD  DEFAULT ((0)) FOR [Type]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__ActionLog__Actio__4BAC3F29]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ActionLog] ADD  DEFAULT (getdate()) FOR [ActionTime]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Bill__DateCheckI__4CA06362]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Bill] ADD  DEFAULT (getdate()) FOR [DateCheckIn]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Bill__status__4D94879B]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Bill] ADD  DEFAULT ((0)) FOR [status]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Bill__discount__4E88ABD4]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Bill] ADD  DEFAULT ((0)) FOR [discount]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__BillInfo__count__4F7CD00D]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[BillInfo] ADD  DEFAULT ((0)) FOR [count]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__CategoryT__price__5070F446]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[CategoryTable] ADD  DEFAULT ((0)) FOR [pricePerHour]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__EventsDis__statu__5165187F]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EventsDiscount] ADD  DEFAULT ((1)) FOR [status]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Food__name__52593CB8]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Food] ADD  DEFAULT (N'Chưa đặt tên') FOR [name]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Food__price__534D60F1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Food] ADD  DEFAULT ((0)) FOR [price]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Food__isService__5441852A]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Food] ADD  DEFAULT ((0)) FOR [isService]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__FoodCatego__name__5535A963]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[FoodCategory] ADD  DEFAULT (N'Chưa đặt tên') FOR [name]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__TableCateg__name__5629CD9C]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TableCategory] ADD  DEFAULT (N'Chưa đặt tên') FOR [name]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__TableCate__price__571DF1D5]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TableCategory] ADD  DEFAULT ((0)) FOR [pricePerHour]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__TableFood__name__5812160E]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TableFood] ADD  DEFAULT (N'Bàn chưa đặt tên') FOR [name]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__TableFood__statu__59063A47]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TableFood] ADD  DEFAULT (N'Trống') FOR [status]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__TimeChang__chang__59FA5E80]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TimeChangeLog] ADD  DEFAULT (getdate()) FOR [changeDate]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Bill__idTable__5AEE82B9]') AND parent_object_id = OBJECT_ID(N'[dbo].[Bill]'))
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD FOREIGN KEY([idTable])
REFERENCES [dbo].[TableFood] ([id])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__BillInfo__idBill__5BE2A6F2]') AND parent_object_id = OBJECT_ID(N'[dbo].[BillInfo]'))
ALTER TABLE [dbo].[BillInfo]  WITH CHECK ADD FOREIGN KEY([idBill])
REFERENCES [dbo].[Bill] ([id])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__BillInfo__idFood__5CD6CB2B]') AND parent_object_id = OBJECT_ID(N'[dbo].[BillInfo]'))
ALTER TABLE [dbo].[BillInfo]  WITH CHECK ADD FOREIGN KEY([idFood])
REFERENCES [dbo].[Food] ([id])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Food__idCategory__5DCAEF64]') AND parent_object_id = OBJECT_ID(N'[dbo].[Food]'))
ALTER TABLE [dbo].[Food]  WITH CHECK ADD FOREIGN KEY([idCategory])
REFERENCES [dbo].[FoodCategory] ([id])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TableFood_TableCategory]') AND parent_object_id = OBJECT_ID(N'[dbo].[TableFood]'))
ALTER TABLE [dbo].[TableFood]  WITH CHECK ADD  CONSTRAINT [FK_TableFood_TableCategory] FOREIGN KEY([idTableCategory])
REFERENCES [dbo].[TableCategory] ([id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TableFood_TableCategory]') AND parent_object_id = OBJECT_ID(N'[dbo].[TableFood]'))
ALTER TABLE [dbo].[TableFood] CHECK CONSTRAINT [FK_TableFood_TableCategory]
GO
/****** Object:  StoredProcedure [dbo].[USP_CheckOut]    Script Date: 1/8/2026 4:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_CheckOut]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_CheckOut] AS' 
END
GO
ALTER PROC [dbo].[USP_CheckOut]
@idBill INT, @discount INT, @totalPrice FLOAT
AS
BEGIN
	UPDATE dbo.Bill 
	SET status = 1, DateCheckOut = GETDATE(), discount = @discount, totalPrice = @totalPrice
	WHERE id = @idBill
END

GO
/****** Object:  StoredProcedure [dbo].[USP_DeleteAccount]    Script Date: 1/8/2026 4:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_DeleteAccount]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_DeleteAccount] AS' 
END
GO

-- 4. Xóa tài khoản
ALTER PROC [dbo].[USP_DeleteAccount]
@userName NVARCHAR(100)
AS
BEGIN
	DELETE dbo.Account WHERE UserName = @userName
END

GO
/****** Object:  StoredProcedure [dbo].[USP_DeleteBill]    Script Date: 1/8/2026 4:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_DeleteBill]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_DeleteBill] AS' 
END
GO
ALTER PROC [dbo].[USP_DeleteBill]
@idBill INT
AS
BEGIN
	-- 1. Xóa hết các món ăn trong hóa đơn này trước
	DELETE dbo.BillInfo WHERE idBill = @idBill
	
	-- 2. Sau đó mới được xóa cái hóa đơn
	DELETE dbo.Bill WHERE id = @idBill
END

GO
/****** Object:  StoredProcedure [dbo].[USP_DeleteCategory]    Script Date: 1/8/2026 4:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_DeleteCategory]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_DeleteCategory] AS' 
END
GO

-- 3. Xóa danh mục
-- Lưu ý: Nếu danh mục này đang có chứa món ăn, SQL sẽ báo lỗi (do khóa ngoại).
-- Logic đúng: Phải xóa hết món ăn trong danh mục đó trước, hoặc chuyển món ăn sang danh mục khác.
-- Ở đây mình làm đơn giản: Xóa thẳng, nếu lỗi thì App sẽ báo.
ALTER PROC [dbo].[USP_DeleteCategory]
@id INT
AS
BEGIN
	DELETE dbo.FoodCategory WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[USP_DeleteDiscount]    Script Date: 1/8/2026 4:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_DeleteDiscount]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_DeleteDiscount] AS' 
END
GO

-- Xóa khuyến mãi
ALTER PROC [dbo].[USP_DeleteDiscount]
@name NVARCHAR(100)
AS
BEGIN
    DELETE EventsDiscount WHERE eventName = @name
END
GO
/****** Object:  StoredProcedure [dbo].[USP_DeleteFood]    Script Date: 1/8/2026 4:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_DeleteFood]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_DeleteFood] AS' 
END
GO

-- 3. Thủ tục Xóa món (Quan trọng: Phải xóa BillInfo trước)
ALTER PROC [dbo].[USP_DeleteFood]
@idFood INT
AS
BEGIN
	-- Xóa tất cả các dòng trong BillInfo dính dáng đến món này
	DELETE dbo.BillInfo WHERE idFood = @idFood
	-- Sau đó mới xóa món ăn
	DELETE dbo.Food WHERE id = @idFood
END

GO
/****** Object:  StoredProcedure [dbo].[USP_GetAccountList]    Script Date: 1/8/2026 4:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_GetAccountList]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_GetAccountList] AS' 
END
GO
ALTER PROC [dbo].[USP_GetAccountList]
AS SELECT * FROM Account

GO
/****** Object:  StoredProcedure [dbo].[USP_GetCurrentDiscount]    Script Date: 1/8/2026 4:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_GetCurrentDiscount]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_GetCurrentDiscount] AS' 
END
GO
ALTER PROC [dbo].[USP_GetCurrentDiscount]
AS
BEGIN
    SELECT TOP 1 discountPercent 
    FROM EventsDiscount 
    WHERE GETDATE() BETWEEN fromDate AND toDate AND status = 1
    ORDER BY discountPercent DESC
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetFoodIDByName]    Script Date: 1/8/2026 4:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_GetFoodIDByName]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_GetFoodIDByName] AS' 
END
GO
ALTER PROC [dbo].[USP_GetFoodIDByName]
@name NVARCHAR(100)
AS
BEGIN
    SELECT id FROM dbo.Food WHERE name = @name
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetFullHistoryByDate]    Script Date: 1/8/2026 4:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_GetFullHistoryByDate]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_GetFullHistoryByDate] AS' 
END
GO
ALTER PROC [dbo].[USP_GetFullHistoryByDate]
    @fromDate DATETIME, @toDate DATETIME
AS
BEGIN
    -- 1. Lấy THÊM MÓN / HỦY MÓN (Đã lấy đúng StaffName từ C# truyền vào)
    SELECT StaffName AS [Nhân viên], ActionType AS [Thao tác], Details AS [Chi tiết], ActionTime AS [Thời gian]
    FROM dbo.ActionLog 
    WHERE ActionTime BETWEEN @fromDate AND @toDate
    AND ActionType NOT IN (N'THANH TOÁN') 
    
    UNION ALL
    
    -- 2. Lấy ĐỔI GIỜ (Lấy cột staffName trong bảng TimeChangeLog)
    SELECT l.staffName, N'ĐỔI GIỜ', t.name + N': ' + FORMAT(l.oldTime, 'HH:mm') + ' -> ' + FORMAT(l.newTime, 'HH:mm'), l.changeDate
    FROM dbo.TimeChangeLog l
    JOIN dbo.Bill b ON l.idBill = b.id
    JOIN dbo.TableFood t ON b.idTable = t.id
    WHERE l.changeDate BETWEEN @fromDate AND @toDate
    
    UNION ALL
    
    -- 3. Lấy THANH TOÁN (Lấy từ ActionLog để hiện đúng tên người bấm thanh toán)
    SELECT StaffName, ActionType, Details, ActionTime
    FROM dbo.ActionLog
    WHERE ActionType = N'THANH TOÁN' 
    AND ActionTime BETWEEN @fromDate AND @toDate
    
    ORDER BY [Thời gian] DESC
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetListBillByDate]    Script Date: 1/8/2026 4:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_GetListBillByDate]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_GetListBillByDate] AS' 
END
GO
ALTER PROC [dbo].[USP_GetListBillByDate]
@checkIn DATE, @checkOut DATE
AS
BEGIN
    SELECT 
        b.id AS [ID], -- Cột này vẫn để đầu để code lấy ID hoạt động (dù đang ẩn)
        t.name AS [Tên bàn], 
        DateCheckIn AS [Ngày vào], 
        DateCheckOut AS [Ngày ra], 
        discount AS [Giảm giá],
        b.totalPrice AS [Tổng tiền] -- Đưa ông này xuống cuối cùng
    FROM dbo.Bill AS b, dbo.TableFood AS t
    WHERE DateCheckIn >= @checkIn AND DateCheckOut <= @checkOut AND b.status = 1
    AND t.id = b.idTable
END

GO
/****** Object:  StoredProcedure [dbo].[USP_GetListBillByTableForReport]    Script Date: 1/8/2026 4:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_GetListBillByTableForReport]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_GetListBillByTableForReport] AS' 
END
GO
ALTER PROC [dbo].[USP_GetListBillByTableForReport]
@idTable INT
AS
BEGIN
    SELECT 
        f.name AS [foodName], 
        bi.count, 
        f.price, 
        f.price * bi.count AS [totalPrice]
    FROM dbo.BillInfo AS bi
    JOIN dbo.Bill AS b ON bi.idBill = b.id
    JOIN dbo.Food AS f ON bi.idFood = f.id
    WHERE b.idTable = @idTable AND b.status = 0 -- Lấy hóa đơn chưa thanh toán
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetListCategory]    Script Date: 1/8/2026 4:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_GetListCategory]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_GetListCategory] AS' 
END
GO
ALTER PROC [dbo].[USP_GetListCategory]
AS
BEGIN
	SELECT * FROM dbo.FoodCategory
END

GO
/****** Object:  StoredProcedure [dbo].[USP_GetListFood]    Script Date: 1/8/2026 4:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_GetListFood]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_GetListFood] AS' 
END
GO
ALTER PROC [dbo].[USP_GetListFood]
AS
BEGIN
	SELECT f.id, f.name, f.price, fc.name AS categoryName, f.idCategory 
    FROM dbo.Food AS f, dbo.FoodCategory AS fc
    WHERE f.idCategory = fc.id
END

GO
/****** Object:  StoredProcedure [dbo].[USP_GetListLogByDate]    Script Date: 1/8/2026 4:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_GetListLogByDate]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_GetListLogByDate] AS' 
END
GO

ALTER PROC [dbo].[USP_GetListLogByDate]
@fromDate DATE, @toDate DATE
AS
BEGIN
    SELECT StaffName AS [Nhân viên], ActionType AS [Thao tác], 
           Details AS [Chi tiết], ActionTime AS [Thời gian]
    FROM ActionLog
    WHERE ActionTime >= @fromDate AND ActionTime <= @toDate
    ORDER BY ActionTime DESC
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetTableList]    Script Date: 1/8/2026 4:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_GetTableList]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_GetTableList] AS' 
END
GO
ALTER PROC [dbo].[USP_GetTableList]
AS
BEGIN
    -- Chỉ lấy các thông tin cần thiết: Mã bàn, Tên bàn và Trạng thái
    SELECT id, name, status 
    FROM dbo.TableFood
END

GO
/****** Object:  StoredProcedure [dbo].[USP_InsertAccount]    Script Date: 1/8/2026 4:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_InsertAccount]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_InsertAccount] AS' 
END
GO
ALTER PROC [dbo].[USP_InsertAccount]
@userName NVARCHAR(100),
@displayName NVARCHAR(100),
@type INT
AS
BEGIN
    -- Đây là mã SHA-256 của số "0" (Password mặc định)
    -- Tương ứng với Salt: "BidaPro@2026"
    DECLARE @defaultPassHash VARCHAR(100) = '542a3c287fb8ac960d4f41e09d7af929d5a821a4f8faff1a884b951721e410af' 

    INSERT INTO Account 
    (
        UserName, 
        DisplayName, 
        Type, 
        PassWord
    )
    VALUES 
    (
        @userName, 
        @displayName, 
        @type, 
        @defaultPassHash -- Lưu mã hash, không lưu số 0
    )
END
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertBill]    Script Date: 1/8/2026 4:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_InsertBill]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_InsertBill] AS' 
END
GO

-- 2. Tạo lại USP_InsertBill (Phiên bản mới có cột discount)
ALTER PROC [dbo].[USP_InsertBill]
@idTable INT
AS
BEGIN
	INSERT dbo.Bill (DateCheckIn, DateCheckOut, idTable, status, discount)
	VALUES (GETDATE(), NULL, @idTable, 0, 0)
END

GO
/****** Object:  StoredProcedure [dbo].[USP_InsertBillInfo]    Script Date: 1/8/2026 4:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_InsertBillInfo]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_InsertBillInfo] AS' 
END
GO
ALTER PROC [dbo].[USP_InsertBillInfo]
@idBill INT, @idFood INT, @count INT
AS
BEGIN
    DECLARE @idCategoryFood INT
    -- Lấy ID danh mục của món
    SELECT @idCategoryFood = idCategory FROM dbo.Food WHERE id = @idFood

    -- Lấy ID của danh mục "Loại Bàn"
    DECLARE @idCategoryTypeTable INT
    SELECT @idCategoryTypeTable = id FROM dbo.FoodCategory WHERE name = N'Loại Bàn'

    -- 1. XỬ LÝ NẾU LÀ "LOẠI BÀN"
    IF (@idCategoryFood = @idCategoryTypeTable)
    BEGIN
        -- Nếu là lệnh THÊM (số dương) -> Thì mới chạy logic "Đổi bàn"
        IF (@count > 0)
        BEGIN
            -- Xóa loại bàn cũ
            DELETE info 
            FROM dbo.BillInfo info
            JOIN dbo.Food f ON info.idFood = f.id
            WHERE info.idBill = @idBill AND f.idCategory = @idCategoryTypeTable

            -- Thêm loại bàn mới
            INSERT dbo.BillInfo (idBill, idFood, count) VALUES (@idBill, @idFood, 1)
        END
        -- Nếu là lệnh XÓA (số âm) -> Thì xóa thẳng tay
        ELSE
        BEGIN
            DELETE dbo.BillInfo WHERE idBill = @idBill AND idFood = @idFood
        END
    END
    
    -- 2. XỬ LÝ NẾU LÀ MÓN ĂN THƯỜNG (Logic cũ giữ nguyên)
    ELSE 
    BEGIN
        DECLARE @isExitsBillInfo INT
        DECLARE @foodCount INT = 1
        
        SELECT @isExitsBillInfo = id, @foodCount = count 
        FROM dbo.BillInfo 
        WHERE idBill = @idBill AND idFood = @idFood

        IF (@isExitsBillInfo > 0)
        BEGIN
            DECLARE @newCount INT = @foodCount + @count
            IF (@newCount > 0)
                UPDATE dbo.BillInfo SET count = @foodCount + @count WHERE idFood = @idFood AND idBill = @idBill
            ELSE
                DELETE dbo.BillInfo WHERE idBill = @idBill AND idFood = @idFood
        END
        ELSE
        BEGIN
            IF (@count > 0) INSERT dbo.BillInfo (idBill, idFood, count) VALUES (@idBill, @idFood, @count)
        END
    END
END
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertCategory]    Script Date: 1/8/2026 4:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_InsertCategory]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_InsertCategory] AS' 
END
GO

-- 1. Thêm danh mục
ALTER PROC [dbo].[USP_InsertCategory]
@name NVARCHAR(100)
AS
BEGIN
	INSERT dbo.FoodCategory (name) VALUES (@name)
END
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertDiscount]    Script Date: 1/8/2026 4:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_InsertDiscount]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_InsertDiscount] AS' 
END
GO
-- Thêm khuyến mãi mới
ALTER PROC [dbo].[USP_InsertDiscount]
@name NVARCHAR(100), @percent INT, @from DATE, @to DATE, @status BIT
AS
BEGIN
    INSERT INTO EventsDiscount (eventName, discountPercent, fromDate, toDate, status)
    VALUES (@name, @percent, @from, @to, @status)
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ResetPassword]    Script Date: 1/8/2026 4:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_ResetPassword]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_ResetPassword] AS' 
END
GO
ALTER PROC [dbo].[USP_ResetPassword]
@userName NVARCHAR(100)
AS
BEGIN
    -- Đây là mã SHA-256 của số "0"
    DECLARE @defaultPassHash VARCHAR(100) = '542a3c287fb8ac960d4f41e09d7af929d5a821a4f8faff1a884b951721e410af' 
    
    UPDATE Account 
    SET PassWord = @defaultPassHash
    WHERE UserName = @userName
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SearchFoodByName]    Script Date: 1/8/2026 4:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_SearchFoodByName]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_SearchFoodByName] AS' 
END
GO
ALTER PROC [dbo].[USP_SearchFoodByName]
@name NVARCHAR(100)
AS
BEGIN
    -- Lấy món ăn có tên chứa từ khóa @name (Dấu % nghĩa là tìm gần đúng)
    SELECT f.id, f.name, f.price, fc.name AS categoryName, f.idCategory 
    FROM dbo.Food AS f, dbo.FoodCategory AS fc
    WHERE f.idCategory = fc.id 
    AND f.name LIKE N'%' + @name + N'%'
END

GO
/****** Object:  StoredProcedure [dbo].[USP_SwitchTable]    Script Date: 1/8/2026 4:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_SwitchTable]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_SwitchTable] AS' 
END
GO
ALTER PROC [dbo].[USP_SwitchTable]
@idTable1 INT, @idTable2 INT
AS
BEGIN
	DECLARE @idFirstBill INT
	DECLARE @idSecondBill INT

	-- Lấy ID Bill của 2 bàn (chỉ lấy bill đang mở: status = 0)
	SELECT @idFirstBill = id FROM dbo.Bill WHERE idTable = @idTable1 AND status = 0
	SELECT @idSecondBill = id FROM dbo.Bill WHERE idTable = @idTable2 AND status = 0

	-- Nếu bàn cũ không có bill thì thôi, khỏi làm gì
	IF (@idFirstBill IS NULL) RETURN 

	-- TRƯỜNG HỢP 1: Bàn mới CHƯA có người -> Chuyển bàn bình thường
	IF (@idSecondBill IS NULL)
	BEGIN
		-- Đổi bàn cho cái Bill đó
		UPDATE dbo.Bill SET idTable = @idTable2 WHERE id = @idFirstBill
		
		-- Cập nhật trạng thái hiển thị
		UPDATE dbo.TableFood SET status = N'Có người' WHERE id = @idTable2
		UPDATE dbo.TableFood SET status = N'Trống' WHERE id = @idTable1
	END
	
	-- TRƯỜNG HỢP 2: Bàn mới ĐÃ CÓ người -> Gộp bàn
	ELSE
	BEGIN
		-- 1. Chuyển toàn bộ món ăn (BillInfo) từ Bill cũ sang Bill mới
		UPDATE dbo.BillInfo SET idBill = @idSecondBill WHERE idBill = @idFirstBill
		
		-- 2. Xóa cái Bill (vỏ rỗng) của bàn cũ đi
		DELETE FROM dbo.Bill WHERE id = @idFirstBill
		
		-- 3. Cập nhật bàn cũ thành Trống
		UPDATE dbo.TableFood SET status = N'Trống' WHERE id = @idTable1
        -- (Bàn mới thì hiển nhiên vẫn là "Có người" nên không cần update)
	END
END

GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateAccount]    Script Date: 1/8/2026 4:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_UpdateAccount]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_UpdateAccount] AS' 
END
GO

-- 3. Sửa tài khoản (Chỉ sửa Tên hiển thị và Loại, KHÔNG sửa Pass ở đây)
ALTER PROC [dbo].[USP_UpdateAccount]
@userName NVARCHAR(100), @displayName NVARCHAR(100), @type INT
AS
BEGIN
	UPDATE dbo.Account 
	SET DisplayName = @displayName, Type = @type
	WHERE UserName = @userName
END

GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateAccountProfile]    Script Date: 1/8/2026 4:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_UpdateAccountProfile]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_UpdateAccountProfile] AS' 
END
GO
ALTER PROC [dbo].[USP_UpdateAccountProfile]
@userName NVARCHAR(100), @displayName NVARCHAR(100), @password NVARCHAR(100), @newPassword NVARCHAR(100)
AS
BEGIN
	DECLARE @isRightPass INT = 0
	
	-- Kiểm tra user và pass cũ có khớp không
	SELECT @isRightPass = COUNT(*) FROM dbo.Account WHERE UserName = @userName AND PassWord = @password
	
	IF (@isRightPass = 1)
	BEGIN
		-- Nếu có nhập mật khẩu mới (khác rỗng) -> Cập nhật cả Pass + Tên hiển thị
		IF (@newPassword IS NOT NULL AND @newPassword != '')
		BEGIN
			UPDATE dbo.Account SET DisplayName = @displayName, PassWord = @newPassword WHERE UserName = @userName
		END
		-- Nếu không nhập mật khẩu mới -> Chỉ cập nhật Tên hiển thị
		ELSE
		BEGIN
			UPDATE dbo.Account SET DisplayName = @displayName WHERE UserName = @userName
		END
	END
END

GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateCategory]    Script Date: 1/8/2026 4:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_UpdateCategory]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_UpdateCategory] AS' 
END
GO

-- 2. Sửa danh mục
ALTER PROC [dbo].[USP_UpdateCategory]
@id INT, @name NVARCHAR(100)
AS
BEGIN
	UPDATE dbo.FoodCategory SET name = @name WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateDiscount]    Script Date: 1/8/2026 4:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_UpdateDiscount]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_UpdateDiscount] AS' 
END
GO

-- Sửa khuyến mãi (Dựa trên tên sự kiện hoặc ID)
ALTER PROC [dbo].[USP_UpdateDiscount]
@name NVARCHAR(100), @percent INT, @from DATE, @to DATE, @status BIT
AS
BEGIN
    UPDATE EventsDiscount 
    SET discountPercent = @percent, fromDate = @from, toDate = @to, status = @status
    WHERE eventName = @name
END
GO
/****** Object:  StoredProcedure [dbo].[USP_UpsertDiscount]    Script Date: 1/8/2026 4:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_UpsertDiscount]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_UpsertDiscount] AS' 
END
GO
ALTER PROC [dbo].[USP_UpsertDiscount]
@name NVARCHAR(100), @percent INT, @from DATE, @to DATE, @status BIT
AS
BEGIN
    MERGE EventsDiscount AS target
    USING (SELECT @name AS eventName) AS source
    ON (target.eventName = source.eventName)
    WHEN MATCHED THEN
        UPDATE SET discountPercent = @percent, fromDate = @from, toDate = @to, status = @status
    WHEN NOT MATCHED THEN
        INSERT (eventName, discountPercent, fromDate, toDate, status)
        VALUES (@name, @percent, @from, @to, @status);
END
GO
/****** Object:  Trigger [dbo].[trg_LogPayment]    Script Date: 1/8/2026 4:35:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[trg_LogPayment]'))
EXEC dbo.sp_executesql @statement = N'CREATE TRIGGER [dbo].[trg_LogPayment]
ON [dbo].[Bill]
AFTER UPDATE
AS
BEGIN
    -- Chỉ ghi log khi trạng thái chuyển từ 0 sang 1 (Thanh toán)
    IF EXISTS (SELECT 1 FROM inserted i JOIN deleted d ON i.id = d.id WHERE i.status = 1 AND d.status = 0)
    BEGIN
        INSERT INTO ActionLog (StaffName, ActionType, Details)
        SELECT N''Hệ thống'', N''THANH TOÁN'', 
               N''Hóa đơn ID: '' + CAST(inserted.id AS NVARCHAR(10)) + 
               N'' đã được thanh toán thành công.''
        FROM inserted
        JOIN deleted ON inserted.id = deleted.id
        WHERE inserted.status = 1 AND deleted.status = 0
    END
END
' 
GO
ALTER TABLE [dbo].[Bill] DISABLE TRIGGER [trg_LogPayment]
GO
/****** Object:  Trigger [dbo].[UTG_UpdateTableStatus]    Script Date: 1/8/2026 4:35:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[UTG_UpdateTableStatus]'))
EXEC dbo.sp_executesql @statement = N'CREATE TRIGGER [dbo].[UTG_UpdateTableStatus]
ON [dbo].[Bill]
FOR INSERT, UPDATE
AS
BEGIN
	DECLARE @idBill INT
	
	-- Lấy ID của hóa đơn vừa được thêm hoặc sửa
	SELECT @idBill = id FROM Inserted
	
	DECLARE @idTable INT
	
	-- Lấy ID của bàn tương ứng với hóa đơn đó
	SELECT @idTable = idTable FROM dbo.Bill WHERE id = @idBill
	
	DECLARE @count INT = 0
	
	-- Đếm xem bàn này có bao nhiêu hóa đơn chưa thanh toán (status = 0)
	SELECT @count = COUNT(*) FROM dbo.Bill WHERE idTable = @idTable AND status = 0
	
	IF (@count = 0)
		-- Nếu không còn hóa đơn nào chưa thanh toán -> Trả về TRỐNG
		UPDATE dbo.TableFood SET status = N''Trống'' WHERE id = @idTable
	ELSE
		-- Nếu có hóa đơn chưa thanh toán -> Đổi thành CÓ NGƯỜI
		UPDATE dbo.TableFood SET status = N''Có người'' WHERE id = @idTable
END

' 
GO
ALTER TABLE [dbo].[Bill] ENABLE TRIGGER [UTG_UpdateTableStatus]
GO
/****** Object:  Trigger [dbo].[trg_LogDeleteBillInfo]    Script Date: 1/8/2026 4:35:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[trg_LogDeleteBillInfo]'))
EXEC dbo.sp_executesql @statement = N'CREATE TRIGGER [dbo].[trg_LogDeleteBillInfo]
ON [dbo].[BillInfo]
AFTER DELETE
AS
BEGIN
    INSERT INTO ActionLog (StaffName, ActionType, Details)
    SELECT 
        N''Hệ thống'', 
        N''HỦY MÓN'', 
        N''Đã xóa món: '' + f.name + N'' (Số lượng: '' + CAST(deleted.count AS NVARCHAR(10)) + 
        N'') khỏi hóa đơn ID: '' + CAST(deleted.idBill AS NVARCHAR(10))
    FROM deleted
    JOIN Food f ON deleted.idFood = f.id -- Lấy tên món từ bảng Food
END
' 
GO
ALTER TABLE [dbo].[BillInfo] DISABLE TRIGGER [trg_LogDeleteBillInfo]
GO
/****** Object:  Trigger [dbo].[trg_LogInsertBillInfo]    Script Date: 1/8/2026 4:35:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[trg_LogInsertBillInfo]'))
EXEC dbo.sp_executesql @statement = N'CREATE TRIGGER [dbo].[trg_LogInsertBillInfo]
ON [dbo].[BillInfo]
AFTER INSERT
AS
BEGIN
    INSERT INTO ActionLog (StaffName, ActionType, Details)
    SELECT 
        N''Hệ thống'', 
        N''THÊM MÓN'', 
        N''Đã thêm món: '' + f.name + N'' (Số lượng: '' + CAST(inserted.count AS NVARCHAR(10)) + 
        N'') vào hóa đơn ID: '' + CAST(inserted.idBill AS NVARCHAR(10))
    FROM inserted
    JOIN Food f ON inserted.idFood = f.id
END
' 
GO
ALTER TABLE [dbo].[BillInfo] DISABLE TRIGGER [trg_LogInsertBillInfo]
GO
USE [master]
GO
